{% extends 'base/_base.html' %}

{% block title %} {{post.title}} {{post.title}} {% endblock %}

{% block content %} 

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading">Category: {{ post.category }}</h2>
            <span class="meta">Posted on {{ post.post_date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  {% if user.is_authenticated %}
  <article style="font-family: 'Libre Caslon Display', serif;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            {{post.body}}
          </p>

          <p>
            {{post.body}}
          </p>


          <h2 class="section-heading">The Final Frontier</h2>

          <p>
            {{post.body}}
          </p>

        </div>
      </div>
    </div>
  </article>
  {% else %}
  <h2 class="section-heading">
    Please Subscribe To Read This Article
  </h2>
  {% endif %}

  <hr>

  <div class="clearfix text-center">
    <a href="{% url 'category' post.category|slugify %}">More On: {{post.category}}</a>
  </div>
{% endblock %}
